/** @format */
/** @format */
@import '../../assets//scss/variables';

.title {
  display: flex;
  margin-bottom: 3rem;
  h1 {
    font-size: 1.5rem;
  }
  h4 {
    margin-left: 0.25rem;
    font-weight: 200;
    font-size: 1.5rem;
  }
}

.card {
  display: flex;
  border-radius: 2rem;

  background: url('https://picsum.photos/id/1067/1000/800');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem;
  color: $white;
  .text {
    margin-left: 0.5rem;
    margin-top: -0.2rem;
  }
}

.firstCard {
  margin-bottom: 3rem;
  background: url('https://picsum.photos/id/223/1000/800');
}

.secondCard {
  margin-bottom: 3rem;
  background: url('https://picsum.photos/id/267/1000/800');
  height: 6rem;
}
